.filter-bar {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .filters {
    display: flex;
    align-items: center;
  }
  
  .select-wrapper {
    margin-right: 20px;
  }
  
  select {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
    opacity: 0.9; /* Độ trong suốt của select box */
    width: 200px; /* Độ rộng của select box */
  }
  
  /* Khi select box được focus */
  select:focus {
    outline: none; /* Loại bỏ đường viền khi focus */
  }
  